<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".AppApplication"
        android:theme="@style/Theme.NASPlayer">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Android 13+ 本地网络/附近设备（只做局域网发现，不需要定位） -->
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
</manifest>
